
<div class="jumbotron">
    <div class="card">
      <div class="card-body">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control form-control-sm" %>
      
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control form-control-sm" %>
      
       
        </div>
      
      </div>
      <div class="card-footer">
        <%= f.submit "Log in", class: "btn btn-primary btn-sm" %>
        <%= link_to "Sign up", new_admin_user_path, class: "nav-link", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>

    </div>
</div>


