
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :Deadline %>
    <%= form.date_field :deadline %>
  </div>
  <div class="field">
    <p><%= form.label :Priority %>
      <%= form.radio_button :status, 'low' %> low  <%= form.radio_button :status, 'medium' %> medium <%= form.radio_button :status, 'high' %> high<br />
    </p>
  </div>
  <div class="field">
  <p><%= form.label :Status %>
    <%= form.radio_button :statuses, 'Not_started' %> Not_started  <%= form.radio_button :statuses, 'Undertaking' %> Undertaking <%= form.radio_button :statuses, 'Completed' %> Completed<br />
  </p>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
