
<p id="notice"><%= notice %></p>
<h4>Tasks</h4>
    <% @tasks.each do |task| %>
      <div class='card'>
        <div class="card-body">
          <p><%= task.tittle %>
          <%= task.content %></p>
          <p><%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div><br />
    <% end %>
<br>
<p><%= link_to 'New Task', new_task_path %> <%= link_to 'sort by expiration date', tasks_path(sort_expired: 'true')%><%= link_to 'sort by priority', tasks_path(sort_priority: 'true')%></p>
<%= paginate @tasks %>
