<%= t('view.sample') %>
<p id="notice"><%= notice %></p>
<h4>Tasks</h4>
    <% @tasks.each do |task| %>
      <% if current_user.id == task.user_id%>
      <div class='card'>
        <div class="card-body">
          <p><%= task.tittle %>
          <%= task.content %></p>
          <p><%= link_to 'Show', task, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_task_path(task), class: "btn btn-warning" %>
          <%= link_to 'Destroy', task, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div><% end %><br />
    <% end %>
<br>
<p><%= link_to 'New Task', new_task_path, class: 'btn btn-outline-primary' %> <%= link_to 'sort by expiration date', tasks_path(sort_expired: 'true'), class: 'btn btn-outline-primary' %> <%= link_to 'sort by priority', tasks_path(sort_priority: 'true'), class: 'btn btn-outline-primary'%></p>
<%= paginate @tasks %>
