<div class="jumbotron">
<%= t('view.sample') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @task.tittle %>
</p>
<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>
<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>
<p>
  <strong>Statuse:</strong>
  <%= @task.statuses %>
</p>
<%= link_to 'Back', tasks_path, class: "btn btn-outline-primary" %>
</div>