<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p> <h6> Tasks Submitted By This User</h6>
<% @tasks.each do |task| %>
<% if @user.id == task.user_id %>
<ul>
<li>
 Name:<%= task.tittle + '       ' %> Content:<%= task.content %><br/>
</li>
</ul>
 <% end %>
<% end %>
</p>
<%= link_to 'Edit', edit_admin_user_path(@user), class: "btn btn-outline-warning" %> 
</div>

